* {
    margin: 0;
    padding: 0;
    font-family: "Unbounded", sans-serif;
    font-weight: bolder;
    align-items: center;
}

body {
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-color:black
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(37, 37, 37, 0.445);
    padding: auto;
    border-radius: 30px;
    height: 100%;
}

h2 {
    font-size: 100%;
    padding-top: 16px;
    color: azure;
    text-transform: uppercase;
    letter-spacing: 0.1em;

}

h3 {
  font-size: 50%;
  color: antiquewhite;
}

.reset {
    padding: 15px 20px;
    border: none;
    background: linear-gradient(293deg, rgb(241, 147, 4) 0%, rgba(243, 62, 8, 0.986) 100%);
    font-size: 100%;
    text-transform: uppercase;
    cursor: pointer;
    color: aliceblue;
    border-radius: 10px;
    transform: translate(0, -3x);
    transition: 0.2s;
    transition-timing-function: linear;
}   

.reset:active {
    transform: translate(0, 0);
}

.reset:focus {
    color: azure;
    background: #2b0c66;
}

.game {
    
    width: 420px;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.stats {
    color: rgb(248, 204, 154);
    font-size: 80%;
    font-weight: bold;
    border: 1px solid rgb(94, 94, 94);
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.item {
    position:relative;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    background-color: rgb(73, 55, 151);
    color: aliceblue;
    font-weight: bold;
    transform: rotateY(180deg);
    transition: 0.25s;  
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(293deg, rgb(241, 147, 4) 0%, rgba(243, 62, 8, 0.986) 100%);
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;

}

.boxOpen::after,
.boxMatch::after {
    transform: rotateY(180deg);

}

.boxMatch {
    background-color: rgb(3, 10, 4);
}

input {
    max-width: 300px;
    background-color: #1a1a1a;
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    color: white;
    font-weight: bolder;
  }
  
  input:focus {
    animation: rotateShadow 2s infinite linear;
  }
  
  @keyframes rotateShadow {
    0% {
      box-shadow: -2px -2px 0px 0px #ff8800, 2px 2px 0px 0px #ff1e00;
    }
    25% {
      box-shadow: -2px 2px 0px 0px #ff8800, 2px -2px 0px 0px #ff7b00;
    }
    50% {
      box-shadow: 2px 2px 0px 0px #ff8800, -2px -2px 0px 0px #ff3300;
    }
    75% {
      box-shadow: 2px -2px 0px 0px #ff0000, -2px 2px 0px 0px #ffae00;
    }
    100% {
      box-shadow: -2px -2px 0px 0px #ff0000, 2px 2px 0px 0px #ffa600;
    }
  }
  